nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    height: 70px;
    box-shadow: -4px 1px 6px #0000002e;
}

nav:hover {
    box-shadow: -4px 1px 6px #00000099;
}

.navbar ul {
    list-style: none;
}

.navbar ul li {
    display: inline;
    margin: 0 10px;
}

.navbar ul li a {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    background-color: lightskyblue;
}


.navbar ul li a:hover {
    border-radius: 10px;
    color: #dd9b9b;
    box-shadow: 3px 4px 3px 0 #dd9b9b;
}

.active {
    color: #dd9b9b;
    box-shadow: 3px 4px 3px 0 #dd9b9b;
}